[user]
  name = Kevin Li
  email = ychiaoli18@gmail.com
[alias]
  lg = log --graph --pretty=format:'%C(cyan bold)%h%Creset -%C(yellow bold)%d%Creset %s %C(magenta bold)(%cr)%Creset' --abbrev-commit --date=relative
  co = checkout
  st = status
  ci = commit
  br = branch
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  editor = vim
  pager = less
  deltaBaseCacheLimit = 1G
